# 1、Pandas
## 1.1 数据结构
### Series:
一维数组：数据（values)+标签/索引(index)，可以用索引对其进行读取、赋值，或切片操作

In [1]:
#Series。一维数组：数据（values)+标签/索引(index)，可以用索引对其进行读取、赋值，或切片操作
import pandas as pd
#Series定义
series1 = pd.Series([2.3,-4,5,0.12,90],index = ['a','b','c','d','e'])
print(series1)
print('-------------')
print(series1[:2])
print('-------------')
series1['b'] = 99
print(series1)

a     2.30
b    -4.00
c     5.00
d     0.12
e    90.00
dtype: float64
-------------
a    2.3
b   -4.0
dtype: float64
-------------
a     2.30
b    99.00
c     5.00
d     0.12
e    90.00
dtype: float64

In [8]:
#Series,对于其中的数值类型，可以将其看成numpy数组，进行数学运算和线性代数运算、统计运算
print(series1 + 1)
print('-------------')
print(series1 ** 2)
print('-------------')
series1.dot(series1.T)

a      3.30
b    100.00
c      6.00
d      1.12
e     91.00
dtype: float64
-------------
a       5.2900
b    9801.0000
c      25.0000
d       0.0144
e    8100.0000
dtype: float64
-------------

17931.3044

In [10]:
#Series可以看作是字典类型（dict），
print('a' in series1)
print('-------------')
print('t' in series1)
print('-------------')

True
-------------
False
-------------

### DataFrame:结构及组成
表格型的数据结构。两个索引（不可变，不能修改）：行索引（index）、列索引（columns）。行在前，列在后。
 DataFrame可以看作是多个python列表、numpy数组、Series、字典dict组成，
由此，创建DataFrame，也可以通过上述元素进行创建。
### DataFrame操作
DataFrame的操作也同样适用于上述数据结构的操作。
另外，DataFrame还可以使用loc、iloc、ix、at、iat、get_calue进行读写。

In [15]:
df1 = pd.DataFrame([series1,series1+2])
print(df1)
print('-------------')
print(df1.loc[1])

     a      b    c     d     e
0  2.3   99.0  5.0  0.12  90.0
1  4.3  101.0  7.0  2.12  92.0
-------------
a      4.30
b    101.00
c      7.00
d      2.12
e     92.00
Name: 1, dtype: float64

### 索引，管理轴标签和其他元数据。
不可修改。其类似于数组和集合（可包含重复的标签）
其方法有：append,diffence,intersection,union,isin,delete,drop,
insert,is_monotonic,is_unique,unique

In [16]:
print(df1.columns)
print(df1.index)
'c' in df1.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
RangeIndex(start=0, stop=2, step=1)

True

## 1.2 基本功能

In [2]:
#重新索引 reindex
series2 = pd.Series([4.5,7.2,-5.2,3.6],index = ['d','b','a','c'])
series2

d    4.5
b    7.2
a   -5.2
c    3.6
dtype: float64

In [3]:
series2 = series2.reindex(['a','b','c','d','e'])
series2

a   -5.2
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [2]:
#列索引重建
import numpy as np
series3 = pd.DataFrame(np.arange(9).reshape((3,3)),
                      index = ['a','b','c'],
                      columns = ['x,','y','z'])
series3

   x,  y  z
a   0  1  2
b   3  4  5
c   6  7  8

In [33]:
series3 = series3.reindex(['a','c','d','b'])
series3

    x,    y    z
a  0.0  1.0  2.0
c  6.0  7.0  8.0
d  NaN  NaN  NaN
b  3.0  4.0  5.0

In [34]:
series3 = series3.reindex(columns=['y','z','x','China','Japan','America'])
series3

     y    z   x  China  Japan  America
a  1.0  2.0 NaN    NaN    NaN      NaN
c  7.0  8.0 NaN    NaN    NaN      NaN
d  NaN  NaN NaN    NaN    NaN      NaN
b  4.0  5.0 NaN    NaN    NaN      NaN

In [35]:
#丢弃指定轴上的项  drop
series3.drop(['Japan'],axis = 1)
series3

     y    z   x  China  Japan  America
a  1.0  2.0 NaN    NaN    NaN      NaN
c  7.0  8.0 NaN    NaN    NaN      NaN
d  NaN  NaN NaN    NaN    NaN      NaN
b  4.0  5.0 NaN    NaN    NaN      NaN

In [36]:
series3 = series3.drop(['b'],axis = 0)
series3

     y    z   x  China  Japan  America
a  1.0  2.0 NaN    NaN    NaN      NaN
c  7.0  8.0 NaN    NaN    NaN      NaN
d  NaN  NaN NaN    NaN    NaN      NaN

In [40]:
#函数的应用和映射
series4 = np.exp(series3)
print(series4)
print('--------')
series4 = np.sin(series3)
series4

             y            z   x  China  Japan  America
a     2.718282     7.389056 NaN    NaN    NaN      NaN
c  1096.633158  2980.957987 NaN    NaN    NaN      NaN
d          NaN          NaN NaN    NaN    NaN      NaN
--------

          y         z   x  China  Japan  America
a  0.841471  0.909297 NaN    NaN    NaN      NaN
c  0.656987  0.989358 NaN    NaN    NaN      NaN
d       NaN       NaN NaN    NaN    NaN      NaN

In [10]:
#将函数应用到各列或各行形成的一维数组上 apply
series3 = pd.DataFrame(np.arange(9).reshape((3,3)),
                      index = ['a','b','c'],
                      columns = ['x','y','z'])
f = lambda x:x.max() - x.min()
print(series3)
print('---------------')
series1 = series3.apply(f,axis = 'columns')
print(series1)
print('---------------')
series1 = series3.apply(f,axis = 'index')
series1

   x  y  z
a  0  1  2
b  3  4  5
c  6  7  8
---------------
a    2
b    2
c    2
dtype: int64
---------------

x    6
y    6
z    6
dtype: int64

In [46]:
#apply函数返回由多个值组成的Series
def f(x):
    return pd.Series([x.min(),x.max()],index = ['min','max'])
series3.apply(f)

     x,  y  z
min   0  1  2
max   6  7  8

In [47]:
#lanbda 转化为浮点值格式的数字
format = lambda x: '%.2f' % x
series3.applymap(format)

     x,     y     z
a  0.00  1.00  2.00
b  3.00  4.00  5.00
c  6.00  7.00  8.00

In [14]:
#排序和排名  sorting,sort_index
print(series3)
print(series3.sort_index(axis = 1,ascending = False))
series3.sort_values(by = ['x','y'],ascending = False)

   x  y  z
a  0  1  2
b  3  4  5
c  6  7  8
   z  y  x
a  2  1  0
b  5  4  3
c  8  7  6

   x  y  z
c  6  7  8
b  3  4  5
a  0  1  2

## 1.3 汇总和计算统计

In [15]:
#数学和统计方法，汇总统计。
series3.sum()

x     9
y    12
z    15
dtype: int64

In [16]:
series3.sum(axis = 1) #axis = 'columns'

a     3
b    12
c    21
dtype: int64

In [17]:
series3.mean(axis = 'index')

x    3.0
y    4.0
z    5.0
dtype: float64

In [18]:
series3.mean(axis = 'columns')

a    1.0
b    4.0
c    7.0
dtype: float64

In [19]:
series3.describe()

         x    y    z
count  3.0  3.0  3.0
mean   3.0  4.0  5.0
std    3.0  3.0  3.0
min    0.0  1.0  2.0
25%    1.5  2.5  3.5
50%    3.0  4.0  5.0
75%    4.5  5.5  6.5
max    6.0  7.0  8.0