# 12、pandas高级应用
## 12.1 分类数据
### 12.1.1 背景和目的

In [3]:
import numpy as np
import pandas as pd

In [4]:
values = pd.Series(['apple','orange','apple','apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [5]:
#表中有些数值包含重复值的时候，unique和value_counts,可以从数组
#中提取不同的值，并计算频率。
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [6]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [8]:
values = pd.Series([0,1,0,0] * 2)
dim = pd.Series(['apple','orange'])

In [9]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

用整数表示的方法称为分类 或 字典编码 表示法。
分类表示可以哎进行分析的时候，提高性能。
* 重命名分类
* 加入一个新的分类，不改变已存在的分类顺序即位置

### 12.1.2pandas的分类类型

In [10]:
fruits = ['apple','apple','orange','orange']  * 2
N = len(fruits)

In [15]:
df = pd.DataFrame({'fruit':fruits,
                  'basket_id':np.arange(N),
                  'count':np.random.randint(3,15,size=N),
                  'weight':np.random.uniform(0,4,size=N)},
                  columns=['fruit','basket_id','count','weight'])
df

    fruit  basket_id  count    weight
0   apple          0     14  3.392961
1   apple          1      4  2.854507
2  orange          2     14  0.433419
3  orange          3      5  3.183296
4   apple          4      7  3.948749
5   apple          5     12  2.985367
6  orange          6     12  2.462761
7  orange          7      3  1.460566

In [16]:
fruit_Cat = df['fruit'].astype('category')
fruit_Cat

0     apple
1     apple
2    orange
3    orange
4     apple
5     apple
6    orange
7    orange
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [17]:
type(fruit_Cat)

pandas.core.series.Series

In [18]:
#分类对象
c = fruit_Cat.values
type(c)

pandas.core.arrays.categorical.Categorical

In [19]:
#分类对象的编码对应的意义
c.categories

Index(['apple', 'orange'], dtype='object')

In [20]:
#分类对象的编码
c.codes

array([0, 0, 1, 1, 0, 0, 1, 1], dtype=int8)

In [21]:
#将DataFrame的列通过分配转换结果，转换为分类。
df['fruit'] = df['fruit'].astype('category')
df.fruit

0     apple
1     apple
2    orange
3    orange
4     apple
5     apple
6    orange
7    orange
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

### 12.1.3用分类进行计算

### 12.1.4 用分类提高性能

### 12.1.5分类方法

### 12.1.6为建模创建虚拟变量

## 12.2 GroupBy高级应用
### 12.2.1分组转换和“解封”GroupBy

## 12.2.2分类的时间重采样

## 12.3链式编程技术
### 12.3.1管道方法

-------------------------------------------
# 作业2